# Compiled Object files, Static and Dynamic libs (Shared Objects)
bin
pkg
src/vendor
*.o
*.out
*.a
*.so
src/caduceus/caduceus
src/caduceus/debug
src/caduceus/output
caduceus.spec

# config
src/caduceus/caduceus.json
keys/*.private

# Vim
*.swp
*.out

# Folders
_obj
_test
vendor
coverage*

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# IDE files
.idea/*
